feeback.txt
Ground_truth0.csv Keep-Posterior_sample0.csv Posterior_sample0.csv Posterior_sample0importance.csv Posterior_sample0loglike.csv
Posterior_sample0.png Simulated_image0.png
__pycache__
restore
